<form [formGroup]="noteForm" (ngSubmit)="onSubmit(formIdE)">
  <div class="flex items-center my-2">
    <button class="mr-10" type="submit">
      <fa-icon [icon]="faArrowLeft" class="text-xl"></fa-icon>
    </button>
    <p class="text-3xl w-full">Notes</p>
    <div
      *ngIf="!formUnfocused"
      class="flex-1"
      #unfocusFormBtn
      (click)="saveCurrentFormState(unfocusFormBtn)"
    >
      <fa-icon [icon]="faCheck" class="text-xl"></fa-icon>
    </div>
  </div>
  <p class="text-xs text-gray-400 py-2">
    {{ noteHours > 12 ? noteHours - 12 : noteHours }}:{{
      noteMinutes.toString().padStart(2, "0")
    }}
    {{ noteHours < 12 ? "AM" : "PM" }}, {{ noteDateStr }}
  </p>
  <input
    type="text"
    name="title"
    formControlName="title"
    id="title"
    placeholder="Title"
    class="text-2xl pt-2 pb-4 focus-visible:outline-none w-full"
    (click)="inputFocus()"
  />
  <input
    type="text"
    name="note-content"
    formControlName="content"
    id="note-content"
    placeholder="Write something down..."
    class="focus-visible:outline-none w-full"
    (click)="inputFocus()"
  />
  <input type="hidden" name="form-id" #formIdE formControlName="id" />
</form>
